.title{
	font-size: 5em;
}
.chicken {
	font-size: 2em;
}
#chicken{
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: lightgray;
}
.navbar-header .collapse {
	background-color: lightgray;
}
.menu{
	background-color: darkgray;
}
